<!-- <footer id="contact">
  <div class="w-100">
    <div class="row mx-0">
      <div class="col-12 col-md-6 order-2 order-md-1 px-0 section-tspacer">
        <div class="col-10 col-md-8 mx-auto">
          <p class="text-uppercase mt-3">
            Contact
          </p>
          <p class="lead">
            Biface c’est l’histoire d’une équipe libre et indépendante. Notre camp de base est en Savoie mais on va et vient des Alpes aux forêts du
            Québec, inspirés par les territoires et les gens rencontrés.
          </p>
          <p class="display-6 my-5">
            Parlez-nous de vos idées.
          </p>
          <p class="mb-0 "><a class="supersize-sm text-dark text-decoration-none" href="tel:+33 6 95 09 61 97">+33 6 95
              09 61 97</a></p>
          <p class="mb-0"><a class="supersize-sm text-dark text-decoration-none"
              href="mailto:bonjour@biface.co">bonjour@biface.co</a></p>
          <div class="col-12 mt-5 py-5 text-dark">
            <small>©2021 biface.co</small>
          </div>
        </div>
      </div>
      <div class="col-12 col-md p-0 order-1">
        <img class="img-fluid sticky-0 ratio ratio-4x3" alt="Biface — Fôret du Québec" src="images/footer-biface.jpg">
      </div>
    </div>
  </div>
</footer> -->

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/scrolltosmooth/dist/scrolltosmooth.pkgd.min.js"></script>

<script type="text/javascript">

  /**
 * ScrollToSmooth 3 Demo
 * vanilla JS smooth scroll to anchor library
 *
 * Author: Bastian Fießinger
 * Git Repository: https://github.com/bfiessinger/scrollToSmooth
 * NPM Package: https://www.npmjs.com/package/scrolltosmooth
 */
const scrollToSmoothSettings = {
	// Selectors
	container: document,
	targetAttribute: 'href',
	topOnEmptyHash: true,
	offset: null,
	// Speed and duration
	duration: 800,
	durationRelative: true,
	durationMin: 300,
	durationMax: 5000,
	easing: easeInOutQuint,
	// Callbacks
	onScrollStart: null,
	onScrollUpdate: null,
	onScrollEnd: null
};

const smoothScroll = new scrollToSmooth('a', scrollToSmoothSettings);
smoothScroll.init();

</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-95CLWGFGVF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-95CLWGFGVF');
</script> -->
