<head>
    <title>{{if .IsHome}}{{ $.Site.Params.title }} — {{$.Site.Params.subtitle}}{{else}}{{.Title}} - {{ $.Site.Params.title }}{{end}}</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, all">
    <!-- <meta name="robots" content="noindex, nofollow" /> -->
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="preload" as="font">
    <link rel="preconnect" href="https://www.google-analytics.com"> -->

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    {{ block "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}



    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ $.Permalink }}">
    <meta property="og:title" content="{{if .IsHome}}{{ $.Site.Params.title }} - {{$.Site.Params.subtitle}}{{else}}{{.Title}} - {{ $.Site.Params.title }}{{end}}">
    <meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
    <meta property="og:image" content="{{ $.Site.BaseURL }}images/share-biface.jpg">
    <meta property="og:image:secure_url" content="{{ $.Site.BaseURL }}images/share-biface.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ $.Permalink }}">
    <meta property="twitter:title" content="{{if .IsHome}}{{ $.Site.Params.title }} - {{$.Site.Params.subtitle}}{{else}}{{.Title}} - {{ $.Site.Params.title }}{{end}}">
    <meta property="twitter:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
    <meta property="twitter:image" content="{{ $.Site.BaseURL }}images/share-biface.jpg">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2C2C21">
    <meta name="msapplication-TileColor" content="#ff0000">
    <meta name="theme-color" content="#2C2C21">
  </head>
